extends layout

block content
  h1= title
  p If you are interested in using sbw2csv as a REST API please open a github issue here 
  a(href="https://github.com/davidnixon/sbw2csv/issues") sbw2csv on GitHub
